.equipos {
    display: flex;
    justify-content: center;
}

.container_equipos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    gap: 30px;
    width: 1121px;
    position: relative;
}

.input__color {
    position: absolute;
    top: 0;
    right: 0;
}

.titulo_equipo {
    border-bottom: 4px solid #57c278;
    padding-bottom: 10px;
    font-size: 32px;
    color: #212121;
}

.integrantes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
}

@media (max-width: 468px) {
    .titulo_equipo {
        font-size: 24px;
    }

    .integrantes {
        flex-direction: column;
    }
}