.organizacion {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 0;
}


.organizacion__titulo {
    font-size: 40px;
    font-weight: 400;
    color: #6278F7;
    padding-bottom: 15px;
    border-bottom: 4px solid #6278F7;
}

.botonAgregar {
    width: 96px;
    height: 96px;
    cursor: pointer;
    position: absolute;
    right: 390px;
}

.botonAgregar:active {
    transform: scale(0.98);
}